<footer id="site-footer">
    <div class="container">
        <a class="footer-logo" href="{{ .Site.BaseURL }}">
            <img src="/logo.png">
        </a>

        {{ partial "footer-nav" . }}
    </div>
</footer>

<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="sub-footer-menu">
                    <li><a href="#">Terms &amp; conditions</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Accessibility statement</a></li>
                </ul>
            </div>

            <div class="col-lg-6 d-flex align-items-center justify-content-lg-end">
                <p class="copy">&copy; {{ now.Format "2006"}} Public Health England. All rights reserved</p>
            </div>
        </div>
    </div>
</div>