<footer id="site-footer">
    <div class="container">
        <a class="footer-logo" href="{{ .Site.BaseURL }}" alt="UK Health Security Agency.">
            <img src="/logo.png" alt="UK Health Security Agency.">
        </a>

        {{ partial "footer-nav" . }}
    </div>
</footer>

<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="sub-footer-menu">
                    <li><a href="https://www.gov.uk/help/terms-conditions" target="_blank" rel="noopener">Terms &amp; conditions</a></li>
                    <li><a href="https://www.gov.uk/help/privacy-notice" target="_blank" rel="noopener">Privacy policy</a></li>
                    <li><a href="/accessibility-statement/">Accessibility statement</a></li>
                    <li><a href="https://www.gov.uk/government/organisations/uk-health-security-agency" target="_blank" rel="noopener">Go to main UKHSA website <i class="icon icon--xs icon--right icon--external-link"></i></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row pt-3 pb-2">
            <div class="col-lg-6 d-flex align-items-center justify-content-lg-start">
                <p class="copy">&copy; {{ now.Format "2006"}} Crown Copyright. All images &copy; {{ now.Format "2006"}} Crown Copyright. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6">
                <p class="copy">All content is available under the Open Government Licence v3.0, except where otherwise stated.</p>
            </div>
        </div>
    </div>
</div>