<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png?v=rMB7W3nBqM">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=rMB7W3nBqM">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=rMB7W3nBqM">
    <link rel="manifest" href="/site.webmanifest?v=rMB7W3nBqM">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=rMB7W3nBqM" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=rMB7W3nBqM">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {{ if .Params.meta_description }}
    <meta name="description" content="{{ .Params.meta_description }}" />
    {{ end }}

    <!-- Bootstrap CSS -->
    {{ $style := resources.Get "/css/screen.min.css" }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">

    <!-- https://github.com/coliff/bootstrap-ie11/issues/39 -->
    <script nomodule src="https://cdn.jsdelivr.net/npm/element-qsa-scope@1.1.0/index.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VCCC5WQK3H"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-VCCC5WQK3H'); </script>

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
