<div class="row">
    <div class="col-lg-6">
        <h3 class="red mb-3">Infectious Diseases</h3>
        <p>We are responsible for protecting the population's health from infection and aim to reduce
            the burden from infectious diseases on the NHS and social care, and tackle inequalities
            through:</p>
        <ul class="pt-4">
            <li>Robust surveillance and intelligence systems</li>
            <li>Timely detection, investigation and control of outbreaks of disease</li>
            <li>Developing, implementing and evaluating interventions to prevent and control infectious
                diseases</li>
            <li>Advising the central government, local government and other partners to inform public
                health policy and action</li>
            <li>Providing advice to the public to prevent and manage communicable diseases</li>
            <li>Focusing on how we can use sequencing to diagnose and manage infectious diseases</li>
        </ul>
    </div><!-- /.col -->

    <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
        <div class="list-box">
            <img src="https://via.placeholder.com/478x246">
            <div class="list-box__content">
                <h5>Specialist areas</h5>
                <ul>
                    <li>Blood-borne and Sexually Transmitted Infections</li>
                    <li>Countermeasures</li>
                    <li>Emerging and Zoonotic Diseases</li>
                    <li>Epidemology</li>
                    <li>Gastrointestinal Infections</li>
                    <li>Genomics</li>
                    <li>Healthcare Acquired Infections and Antimicrobial Resistance</li>
                    <li>Respiratory Infections</li>
                    <li>Vaccines and Immunisation</li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /.row -->