<section class="pt-12 pb-12">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 stack order-2 order-lg-1">
                <h3 class="red d-none d-lg-block">{{ .Get "title" }}</h3>
                {{ .Inner }}
            </div>

            <div class="col-lg-6 pb-5 pb-lg-0 order-1 order-lg-2">
                <h4 class="d-lg-none d-print-none pb-4">{{ .Get "title" }}</h4>
                {{ if .Get "image" }}
                    <img src="{{ .Get "image" }}" alt="{{ .Get "alt" }}">
                {{ end }}
            </div>
        </div>

    </div><!-- /.container -->
</section>