{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>Contact us</h1>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="h3 red mb-5">Email</h2>

        <p>
          <strong>General enquiries:</strong><br />
          <a href="mailto:Enquiries@ukhsa.gov.uk">Enquiries@ukhsa.gov.uk</a>
        </p>  
        <p>
          <strong>Research enquiries:</strong><br />
          <a href="mailto:Research.Support@ukhsa.gov.uk">Research.Support@ukhsa.gov.uk</a>
        </p>
        <p>
          <strong>Industry enquiries:</strong><br />
          <a href="mailto:Business@ukhsa.gov.uk">Business@ukhsa.gov.uk</a>
        </p>
        <p>
          <strong>Integrity and governance:</strong><br />
          FAO Elizabeth Coates<br />
          <a href="mailto:ResearchSupport@ukhsa.gov.uk">Research.Support@ukhsa.gov.uk</a>
        </p>

        <p>
        For additional contact details including Freedom of Information (FOI) requests please go to the main UKHSA website:
        </p>
        <a
          class="button button--alt button--external mt-7"
          target="_blank"
          href="https://www.gov.uk/government/organisations/uk-health-security-agency"
          >Visit UKHSA on GOV.UK</a
        >
      </div>

      <div class="col-lg-6 pt-5 pt-lg-0">
        <h2 class="h3 red">Research Support and Governance Office</h2>
        <p>
          UK Health Security Agency<br />
          10 South Colonnade<br />
          Canary Wharf<br />
          London<br />
          E14 4PU
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
</section>

{{ end }}
