{{ define "main" }}

<div class="page-title">
    <div class="container">
        <h1>Contact us</h1>
    </div>
</div>

<section class="pt-9 pb-12">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h3 class="red mb-5">Email</h3>

                <p>
                    <strong>Research enquiries:</strong><br>
                    <a href="mailto:randd.office@phe.gov.uk" class="link">randd.office@phe.gov.uk</a>
                </p>
                <p>
                    <strong>Industry enquiries:</strong><br>
                    <a href="mailto:business@phe.gov.uk" class="link">business@phe.gov.uk</a>
                </p>
                <p>
                    <strong>Integrity and governance:</strong><br>
                    <a href="mailto:elizabeth.coates@phe.gov.uk" class="link">elizabeth.coates@phe.gov.uk</a>
                </p>

                <a class="button button--alt button--external mt-7" href="#">Visit PHE on GOV.UK</a>
            </div>

            <div class="col-lg-6 pt-5 pt-lg-0">
                <h3 class="red">Research Support and Governance Office</h3>
                <p>
                    Public Health England<br>
                    Wellington House<br>
                    133-155 Waterloo Road<br>
                    London, SE1 8UG
                </p>
            </div>
        </div><!-- /.row -->

    </div>

</section>

{{ end }}