<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">Behavioural Sciences</h3>
    <p>
      The Behavioural Science and Insights Unit (BSIU) provides leadership in
      the application of behavioural and social science to health security, and
      in support of initiatives to help build system-wide capacity and
      capability. We have expertise in behavioural and social science,
      behavioural insights, evidence-based risk and crisis communication, and
      the psychological and behavioural aspects of health protection incidents
      and health security. We work nationally, regionally and locally to support
      teams responding to outbreaks and incidents, including Chemical,
      Biological, Radiological and Nuclear incidents.
    </p>

    <p>
      Working with public and private sector partners, we conduct and coordinate
      behavioural science and insights advice, guidance, evaluation and
      research. Our research has a track record of peer-reviewed publications,
      dissemination and translation. We contribute to the Scientific Advisory
      Group for Emergencies (SAGE) and its behavioural science sub-group SPI-B,
      and work with a range of cross-Government partners and networks and
      international working groups and bodies.
    </p>
  </div>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/behavioural-sciences.jpg" alt="Person washing their hands." />
      <div class="list-box__content">
        <h4 class="h5">Other Research and Evaluation methods</h4>
        <ul>
          <li>Literature reviews and evidence syntheses</li>
          <li>Behavioural analysis</li>
          <li>Primary qualitative and quantitive data collection</li>
          <li>
            Inform intervention design (online and field-based pragmatic RCTs)
          </li>
          <li>Intervention implementation</li>
          <li>Evaluation and research</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
