<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">Emergency Response</h3>
    <p>
      Our Emergency Response Department works at home and abroad to improve
      public health resilience by providing world-class, trusted EPRR services
      backed by evidence based scientific and medical research. ERD’s role in
      EPRR is to ensure plans are in place, and are tested, to prepare for
      health emergencies and compliance with WHO International Health
      regulations.
    </p>
  </div>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/emergency-response.jpg" alt="Emergency response."/>
      <div class="list-box__content">
        <h4 class="h5">Areas of work</h4>
        <ul>
          <li>Emergency preparedness</li>
          <li>Emergency Operation Centre guidance, plans and exercises</li>
          <li>Horizon scanning and risk assessment</li>
          <li>
            Training and exercises with Skills for Health quality assurance
          </li>
          <li>Process for lessons identified and review of actions</li>
          <li>
            Evidence based scientific and medical research informing all EPRR
            services
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
