<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">Environment and Health</h3>
    <p>
      UKHSA is the UK's primary authority on chemical, radiation and environmental
      hazards. UKHSA’s Radiation, Chemical and Environmental Hazards Directorate (RCE)
      and the new Centre for Climate and Health Security carry out research to advance
      our protection and prevention capabilities from a range of threats:
    </p>
    <ul class="pt-4">
      <li>Radiation</li>
      <li>Chemicals</li>
      <li>Environmental change</li>
      <li>Extreme weather events such as flooding</li>
    </ul>
  </div>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/environment-and-health.jpg" alt="Flooding." />
      <div class="list-box__content">
        <h4 class="h5">Specialist areas</h4>
        <ul>
          <li>Toxicology of chemicals</li>
          <li>Climate change and extreme events</li>
          <li>Radiation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
