<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">Statistics and Modelling</h3>
    <p>
      Our Statistics and Modelling teams develop and implement a variety of
      models focussed on a range of strategic objectives, for example,
      assessment and prediction of the public health impacts of newly emerging
      or re-emerging infectious disease threats, informing on the
      cost-effectiveness of national vaccination programmes, assessing the
      impact of interventions, estimating disease burden, determination of
      increased disease reporting to detect outbreaks.
    </p>

    <p>
      We give evidence-based analysis and advice to UKHSA, the Department of
      Health and Social Care (DHSC), Government advisory committees such as
      JCVI, APRHAI, and SPI-M, and other bodies.
    </p>
  </div>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/statistics-and-modelling.jpg" alt="Crowd of people."/>
      <div class="list-box__content">
        <h4 class="h5">
          To address these challenges we develop data driven models that combine
        </h4>
        <ul>
          <li>An understanding of how populations mix,</li>
          <li>
            Our current understanding around parameters that describe the
            natural history of an infectious pathogen,
          </li>
          <li>
            Our understanding of the data generation processes underlying our
            surveillance data,
          </li>
          <li>
            An understanding of the zoonotic infections and their potential
            eco-epidemiology (MEZE),
          </li>
          <li>Spatial and behavioural processes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
