{{ define "main" }}

<div class="page-title">
    <div class="container">
        <h1>404 - Page not found</h1>
    </div>
</div>

<section class="pt-9 pb-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 stack">
                <h3>Sorry, but we couldn't find the page you were looking for.</h3>
                <p>Please use the navigation menu to find the page you are looking for, or use the button below to return to the home page.</p>
                <a class="button button--alt button--arrow" href="/">Back to home</a>
        </div>
    </div>
</section>

{{ end }}