{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>Research at UKHSA</h1>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>
          UKHSA is a research active organisation. Research, and the translation
          of its findings into innovations both inform and support public health
          policy, practice and services.
        </p>
      </div>
    </div>

    <a class="button button--arrow" href="/about/">What we do</a>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Our research remit</h2>
        <p>
          As we protect the population, improve health and address inequalities,
          research and development (R&D) are core activities.
        </p>

        <p>
          Research and the translation of research findings into innovations
          actively informs and supports the delivery and transformation of
          public health policies, practices and services locally, nationally and
          internationally. This is particularly critical when preparing for,
          preventing and responding to public health emergencies.
        </p>

        <p>
          We work in partnership with university-based researchers nationally
          and internationally, research funders, the NHS, local authorities, the
          third sector and the public. Most of UKHSA's scientific programme is
          distinct from, but complementary to, the work of partner
          organisations; it is recognisable as a unique national asset because
          of the very specialist, secure facilities, other resources and skills
          we deploy.
        </p>
      </div>
      <div class="col-lg-6 pt-5 text-start text-lg-end">
        <img src="/images/phe-team.jpg" alt="UKHSA Team." />
      </div>
    </div>
  </div>
</section>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h3 class="h4 red">Explore UKHSA research</h3>
        <p class="m-0">
          Visit our portal for details of our experts, research activities and
          outputs.
        </p>
      </div>
      <div
        class="
          col-lg-5
          d-lg-flex
          align-items-end
          justify-content-end
          mt-4 mt-lg-0
        "
      >
        <a
          class="button button--alt button--external"
          href="https://researchportal.phe.gov.uk/"
          target="_blank"
          rel="nopener"
          >Visit portal</a
        >
      </div>
    </div>
  </div>
</div>

<section class="pt-10 pb-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h3 class="h2">Research and Expertise</h3>
        <p class="mb-5">
          Over 300 members of UKHSA staff undertake R&D within internal /
          external networks and in 2019 published almost 900 articles in the
          peer-reviewed scientific and clinical literature using £17 million of
          external research funding. Our research portal has details on our
          research, expertise and outputs.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <a href="/our-research/" class="feature-box">
          <img src="/images/our-research.jpg" alt="Petri dishes." />
          <div class="feature-box__content">
            <h4>Our Research</h4>
            <span class="feature-box__link"
              ><span>Learn more</span><i class="icon icon--arrow-white"></i
            ></span>
          </div>
        </a>
      </div>

      <div class="col-lg-5">
        <a href="/partnerships/" class="feature-box">
          <img
            src="/images/Porton-2023-DSC06102.jpg"
            alt="Scientists collaborating."
          />
          <div class="feature-box__content">
            <h4>Partnerships and<br />Collaborations</h4>
            <span class="feature-box__link"
              ><span>Learn more</span><i class="icon icon--arrow-white"></i
            ></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{{ end }}
