{{ define "main" }}

<div class="page-title">
    <div class="container">
        <h1>Research integrity<br>and transparency</h1>
        <div class="row mb-4">
            <div class="col-md-5">
                <p>PHE considers research integrity and transparency as core values that are central to research
                    practice and is committed to ensuring they are rooted in its research culture and activity.</p>
            </div>
        </div>
    </div>
</div>

<section class="pt-9 pb-12">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 pt-8 pt-lg-0 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
                <h2 class="h4 d-lg-none d-print-none pb-4">Research integrity</h2>
                <img src="/images/research-integrity.jpg" alt="People cycling.">
            </div>
            <div class="col-lg-6 order-lg-1">
                <h3 class="red d-none d-lg-block">Research integrity</h3>
                <p>PHE recognises and endorses the Concordat to Support Research Integrity as published by Universities
                    UK, and is committed to maintaining the highest standards of integrity in all aspects of research.
                </p>

                <p>Scientific integrity is essential for the conduct and planning of research, the recording and
                    reporting of results, and the publication of findings. All PHE researchers are required to undertake
                    their work with honesty, rigour, transparency and care for the subjects of their research. These
                    values are central to a healthy research culture and ensure high quality research with results that
                    can be trusted.</p>
            </div>
        </div><!-- /.row -->

        <div class="row pt-12">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <h2 class="h4 d-lg-none d-print-none pb-4">Open Access and Open Science</h2>
                <img src="/images/open-access-and-open-science.jpg" alt="Open access and open science.">
            </div>
            <div class="col-lg-6">
                <h3 class="red d-none d-lg-block">Open Access and Open Science</h3>
                <p>We support the principles of open access and open science, because we recognise the benefits they can
                    bring to public health.</p>

                <p>These benefits include the ability to rapidly disseminate and provide a global equity of access to
                    the outputs of research, which can aid evidence-based public health policy and practice, and the
                    development of new research.</p>

                <p>To support these principles we have created an open access policy and have implemented an
                    institutional repository, where the peer-reviewed outputs of research can be made open access for
                    the benefit of public health and society.</p>
            </div>
        </div><!-- /.row -->

        <div class="row pt-12">
            <div class="col-lg-9">
                <h3 class="red">Research with animals</h3>
                <p class="mb-4">PHE is a signatory on the Understanding Animal Research (UAR) <a class="bold-link" href="http://concordatopenness.org.uk/" target="_blank">Concordat on Openness</a> on Animal Research in the UK. As signatories, the Concordat requires PHE:</p>
                <ol>
                    <li>Be clear about when, how and why we use animals in research.</li>
                    <li>Enhance our communications with the media and the public about our research using animals.</li>
                    <li>Be proactive in providing opportunities for the public to find out about research using animals.
                    </li>
                    <li>Report on progress annually and share our experiences.</li>
                </ol>
                <a class="button button--alt button--external mt-4" href="https://www.gov.uk/government/publications/public-health-england-phe-research-involving-animals/public-health-england-research-involving-animals#:~:text=Over99%ofanimalresearch,Officeapprovedbreedersandsuppliers." target="_blank">Read our report on animal research</a>
            </div>
        </div>

    </div>

</section>

{{ end }}