{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>Opportunities</h1>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>
          We are committed to the development of and investment in a public
          health career pathway that embeds research into service roles and
          opens opportunities to individuals.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pb-8">Types of Opportunities</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 pt-8 pt-lg-0 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">PhD studentship scheme</h4>
        <img
          src="/images/phd-studentship-scheme.jpg"
          alt="Scientists working in a lab."
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">PhD studentship scheme</h3>
        <p>
          We run an annual PhD studentship project scheme where we award funding
          to project plans put together by our researchers and academic
          partners. The scheme supports both our own staff to undertake PhDs and
          the recruitment of new students. We are not able to fund employees of
          other organisations to undertake PhDs.
        </p>

        <p>
          New students normally start around the beginning of each academic
          year. Recruitment of students generally takes place between March and
          July each year. Projects are advertised through specific academic
          partners and sometimes via FindaPhD.com. Links to any projects open
          for applications will be regularly updated on this page.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Affiliated Research Centre of the Open University
        </h4>
        <img
          src="/images/affiliated-research-centre-of-the-open-university.jpg"
          alt="Scientist demonstrating to a prospective student."
        />
      </div>
      <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Affiliated Research Centre of the Open University
        </h3>
        <p>
          UKHSA has a long and successful tradition of providing support to
          staff to study part-time for higher research degrees. UKHSA has
          Affiliated Research Centre (ARC) status with the Open University which
          supports the provision of high-quality and flexible doctoral training
          in our three main sites. The degrees supported by the UKHSA ARC
          programme are part and full-time research degrees and a PhD by
          published works.
        </p>
        <a
          class="button button--alt button--external mt-5"
          href="http://www.open.ac.uk/research/degrees/affiliated-centres"
          target="_blank"
          rel="noopener"
          >Learn about ARCs</a
        >
      </div>
    </div>

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Scientific career opportunities
        </h4>
        <img
          src="/images/scientific-career-opportunities.jpg"
          alt="Scientist using a pipette."
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">Scientific career opportunities</h3>
        <ul>
          <li>
            Our staff are encouraged to develop portfolios as independent
            researchers working towards improvements across the public health
            portfolio.
          </li>
          <li>
            We host post-doctoral research workers working to develop improved
            public health
          </li>
          <li>
            We offer honorary contracts to academics to improve the public
            health science base. We are also eligible to host joint academic
            posts with partner organisations.
          </li>
        </ul>

        <p>
          If you would like to establish stronger academic links or have a
          post-doctoral project you would like to support, please contact
          <a class="bold-link" href="mailto:RandD.OFFICE@phe.gov.uk"
            >RandD.OFFICE@phe.gov.uk</a
          >. Other opportunities are published in NHS jobs, or through
          jobs.ac.uk and via our partners.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Research and collaboration opportunities
        </h4>
        <img
          src="/images/research-and-collaboration-opportunities.jpg"
          alt="Research and collaboration."
        />
      </div>
      <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Research and collaboration opportunities
        </h3>
        <p>
          Our experts work in partnership with university-based researchers
          nationally and internationally, research funders, the NHS, local
          authorities, the third sector and the public to maximise research
          capabilities across the system.
        </p>

        <p>
          The Research Support and Governance Office is the central point of
          contact for enquires regarding research and collaboration
          opportunities and offers from academia and other research-active
          organisations
          <a class="bold-link" href="mailto:RandD.OFFICE@phe.gov.uk"
            >RandD.OFFICE@phe.gov.uk</a
          >
        </p>
      </div>
    </div>

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Opportunities for Industry
        </h4>
        <img
          src="/images/opportunities-for-industry.jpg"
          alt="Opportunities for industry."
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">Opportunities for Industry</h3>
        <p>
          UKHSA can provide your organisation with access to world-leading
          expertise in research and development across a broad range of
          activities that prevent and reduce of the effect of diseases and
          chemical and radiation hazards.
        </p>

        <p>
          We offer opportunities for research collaboration and partnership,
          consultancy, technology licensing and training and development for
          industry.
        </p>

        <p>
          Please contact our Business Development Team (<a
            class="bold-link"
            href="mailto:Business@phe.gov.uk"
            >Business@phe.gov.uk</a
          >) who have in depth knowledge of our organisation’s research
          activities and will be able to direct your enquiry to the appropriate
          experts.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-9 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Research and collaboration opportunities
        </h3>
        <p class="mb-4">
          <strong>OPEN CALL:</strong> Apply to undertake an ‘Innovation in AMR’
          seed study with UKHSA, funded by National Institute of Health
          Research, working with our scientific experts.
        </p>
        <a
          class="button button--alt button--external"
          href="/documents/UKHSA-AMR-Open-Innovation-Factsheets-Oct-2021.pdf"
          target="_blank"
          rel="nopener"
          >Click here for more information</a
        >
      </div>
    </div>
    <!-- /. row -->
  </div>
  <!-- /.container -->

  <div class="container"></div>
  <!-- /.container -->
</section>

{{ end }}
