{{ define "main" }}

<div class="page-title">
    <div class="container">
        <h1>Partnerships and<br>Collaborations</h1>
        <div class="row mb-4">
            <div class="col-md-5">
                <p>We support ongoing and new relationships, collaborations and partnerships with universities, industry
                    and international agencies, that incorporate the input from the public and communities. </p>
            </div>
        </div>
    </div>
</div>

<section class="pt-9 pb-12">
    <div class="container pb-6">
        <div class="row">
            <h2>NIHR Health Protection Research Units</h2>
            <div class="col-lg-8 stack">
                <p>The National Institute for Health Research (NIHR) has invested £58.7 million in research to protect
                    the public from health threats such as antimicrobial resistance, air pollution and infectious
                    diseases. </p>

                <p>The NIHR Health Protection Research Units (HPRUs) are partnerships between PHE and academia undertake
                    high quality research that enhances the ability of PHE to use innovative techniques to protect the
                    public’s health and minimise the health impact of emergencies.</p>

                <a class="link" href="https://www.nihr.ac.uk/news/587-million-funding-boost-for-research-to-protect-the-health-of-the-nation/23835" target="_blank">For more information on HPRUs click here<i
                        class="icon icon--external-link"></i></a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="partnerships js-partnerships">
            <div>
                <div class="row">

                    <div class="col-md-6">
                        <a href="http://bbsti.hpru.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Blood Borne and Sexually Transmitted Infections</h3>
                            <span>University College London ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="http://www.hpruei.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Behavioural Science and Evaluation</h3>
                            <span>University of Bristol ></span>
                        </a>
                    </div>
                    
                    <div class="col-md-6">
                        <a href="http://crth.hpru.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Chemical and Radiation Threats and Hazards</h3>
                            <span>Imperial College London ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="http://epr.hpru.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Emergency Preparedness and Response</h3>
                            <span>Kings College London ></span>
                        </a>
                    </div>

                </div>
            </div>

            <div>
                <div class="row">

                    <div class="col-md-6">
                        <a href="http://www.hpruezi.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Emerging and Zoonotic Infections</h3>
                            <span>University of Liverpool ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="http://www.hpru-ech.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Environmental Change and Health</h3>
                            <span>London School of Hygiene and Tropical Medicine ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="http://eeh.hpru.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Environmental Exposures and Health</h3>
                            <span>Imperial College London ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="http://www.hprugi.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Gastrointestinal Infections</h3>
                            <span>University of Liverpool ></span>
                        </a>
                    </div>

                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://warwick.ac.uk/fac/cross_fac/hpruged/" target="_blank" class="link-card">
                            <h3>Genomics and Enabling Data</h3>
                            <span>Warwick University ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="https://www.imperial.ac.uk/medicine/hpru-amr/" target="_blank" class="link-card">
                            <h3>Healthcare Associated Infections and Antimicrobial Resistance</h3>
                            <span>Imperial College London ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="https://www.herc.ox.ac.uk/research/dce-research-at-herc/studies-15/health-protection-research-unit-in-healthcare-associated-infections-and-antimicrobial-resistance" target="_blank" class="link-card">
                            <h3>Healthcare Associated Infections and Antimicrobial Resistance</h3>
                            <span>University of Oxford ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="http://immunisation.hpru.nihr.ac.uk/" target="_blank" class="link-card">
                            <h3>Vaccines and Immunisation</h3>
                            <span>London School of Hygiene and Tropical Medicine ></span>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://www.imperial.ac.uk/hpru-modelling" target="_blank" class="link-card">
                            <h3>Modelling and Health Economics</h3>
                            <span>Imperial College London ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="https://www.imperial.ac.uk/medicine/nihr-hpru-respiratory-infections" target="_blank" class="link-card">
                            <h3>Respiratory Infections</h3>
                            <span>Imperial College London ></span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="https://www2.le.ac.uk/centres/cehs" target="_blank" class="link-card">
                            <h3>Development Award in Environmental Exposures and Health</h3>
                            <span>University of Leicester ></span>
                        </a>
                    </div>

                </div>
            </div>

        </div><!-- /.js partnerships slider -->

        <div class="row">
            <div class="col-lg-5 pt-3">
                <p>Contact us to explore academic partnerships and collaborations with PHE
                    (<strong>RandD.Office@phe.gov.uk</strong>)</p>
            </div>
        </div>

    </div><!-- /.container -->
</section>

<section class="pt-12 pb-12 cta">
    <div class="container">

        <h2 class="pb-3">Working with industry</h2>

        <div class="row pb-10">
            <div class="col-lg-11">
                <p>PHE can provide your organisation with access to world-leading expertise in research and development
                    across a broad range of activities that prevent and reduce of the effect of diseases and chemical
                    and radiation hazards.</p>

                <p>Please contact our Business Development Team Business@phe.gov.uk who have in depth knowledge of our
                    organisation’s research activities and will be able to direct your enquiry to the appropriate
                    experts. </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h5>Research collaborations and partnership</h5>
                <p>We work collaboratively with industry across a broad spectrum of research projects. Working with PHE
                    will enable your organisation to access unique resources and capabilities and together gain access
                    to funding.</p>
            </div>

            <div class="col-lg-6 pt-5 pt-lg-0">
                <h5>Consultancy</h5>
                <p>Our consultancy services include access to world leading expertise and/or our comprehensive research
                    facilities.</p>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-lg-6">
                <h5>License our technology</h5>
                <p>Our intellectual property portfolio of patent families offers commercial licensing opportunities and
                    is available on request.</p>
            </div>

            <div class="col-lg-6 pt-5 pt-lg-0">
                <h5>Training and development</h5>
                <p>We offer accredited training across a broad range of scientific disciplines from High Containment
                    laboratory training to Radiation Protection training to industry and healthcare sector
                    organisations.</p>
            </div>

            <div class="col-lg-12 text-center pt-10">
                <a class="button button--alt button--arrow" href="/opportunities/">Explore opportunities</a>
            </div>
        </div>
    </div>
</section>

{{ end }}