{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>Partnerships and<br />Collaborations</h1>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>
          We support ongoing and new relationships, collaborations and
          partnerships with universities, industry and international agencies,
          that incorporate the input from the public and communities.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <h2 class= "pb-4 red"> NIHR Health Protection Research Units</h2>
      <div class="col-lg-8 stack">
        <p>
          The National Institute for Health and Care Research (NIHR) has invested £80
          million in research to protect the public from health threats such as
          antimicrobial resistance, climate change and infectious diseases.
        </p>

        <p>
          The NIHR Health Protection Research Units (HPRUs) are partnerships
          between UKHSA and academia that undertake high quality research that
          enhances the ability of UKHSA to use innovative techniques to protect
          the public’s health and minimise the health impact of emergencies.
        </p>

        <a
          class="link"
          href="https://www.nihr.ac.uk/news/ps80-million-funding-boost-research-protect-health-nation"
          rel="noopener"
          target="_blank"
          >For more information on HPRUs click here<i
            class="icon icon--external-link"
          ></i
        ></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="partnerships js-partnerships">
      <div>
        <div class="row">
          <div class="col-md-6">
            <a href="http://bbsti.hpru.nihr.ac.uk/"target="_blank" class="link-card">
              <strong class="h3">Blood Borne and Sexually Transmitted Infections</strong>
              <span>University College London ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://leicesterbrc.nihr.ac.uk/environment-research-unit/"target="_blank" class="link-card">
              <strong class="h3">Chemical Threats and Hazards</strong>
              <span>University of Leicester ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://www.lshtm.ac.uk/research/centres-projects-groups/hpru-cchs"target="_blank" class="link-card">
              <strong class="h3">Climate Change and Health Security</strong>
              <span>London School of Hygiene and Tropical Medicine ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://www.birmingham.ac.uk/news/2024/protecting-the-public-from-health-threats"target="_blank" class="link-card">
              <strong class="h3">Emergency Preparedness and Response</strong>
              <span>University of Birmingham ></span>
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-md-6">
            <a href="https://hpruezi.nihr.ac.uk/"target="_blank" class="link-card">
              <strong class="h3">Emerging and Zoonotic Infections</strong>
              <span>University of Liverpool</span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://researchportal.ukhsa.gov.uk/en/organisations/nihr-hpru-3-in-evaluation-and-behavioural-science/"target="_blank" class="link-card">
              <strong class="h3">Evaluation and Behavioural Science</strong>
              <span>University of Bristol ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://www.uea.ac.uk/about/news/article/uea-to-host-new-unit-for-gastrointestinal-study"target="_blank" class="link-card">
              <strong class="h3">Gastrointestinal Infections</strong>
              <span>University of East Anglia ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://www.lshtm.ac.uk/research/centres-projects-groups/hpru-ham"target="_blank" class="link-card">
              <strong class="h3">Health Analytics and Modelling</strong>
              <span>London School of Hygiene and Tropical Medicine ></span>
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-md-6">
            <a href="https://www.herc.ox.ac.uk/research/dce-research-at-herc/studies-15/health-protection-research-unit-in-healthcare-associated-infections-and-antimicrobial-resistance"target="_blank"
              class="link-card">
              <strong class="h3">Healthcare Associated Infections and Antimicrobial Resistance</strong>
              <span>University of Oxford ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://www.birmingham.ac.uk/news/2024/protecting-the-public-from-health-threats"target="_blank"class="link-card">
              <strong class="h3">Public Health Geonomics</strong>
              <span>University of Birmingham ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://www.imperial.ac.uk/school-public-health/epidemiology-and-biostatistics/hpru-radiation/"target="_blank" class="link-card">
              <strong class="h3">Radiation Threats and Hazards</strong>
              <span>Imperial College London ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://www.imperial.ac.uk/medicine/nihr-hpru-respiratory-infections/" target="_blank"class="link-card">
              <strong class="h3">Respiratory Infections</strong>
              <span>Imperial College London ></span>
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-md-6">
            <a href="https://www.lshtm.ac.uk/research/centres-projects-groups/nihr-hpru-vaccines-immunisation" target="_blank"class="link-card">
              <strong class="h3">Vaccines and Immunisation</strong>
              <span>London School of Hygiene and Tropical Medicine ></span>
           </a>
          </div>

          <div class="col-md-6">
            <a href="https://researchportal.ukhsa.gov.uk/en/organisations/nihr-health-protection-research-focus-award-3-in-outbreak-related/" target="_blank"class="link-card">
              <strong class="h3">Focus Award in Outbreak Related Behaviours</strong>
              <span>King's College London ></span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="https://researchportal.ukhsa.gov.uk/en/organisations/nihr-health-protection-research-focus-award-3-in-vaccines-and-imm/" target="_blank"class="link-card">
              <strong class="h3"
                >Focus Award in Vaccines and Immunisation</strong>
              <span>University of Bristol ></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.js partnerships slider -->

    <div class="row">
      <div class="col-lg-5 pt-3">
        <p>
          Contact us to explore academic partnerships and collaborations with
          UKHSA (<a class="bold-link" href="mailto:ResearchSupport@ukhsa.gov.uk"target="_blank"
            >ResearchSupport@ukhsa.gov.uk</a
          >)
        </p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

<section class="pt-12 pb-12 cta">
  <div class="container">
    <h3 class="h2 pb-3">Working with industry</h3>

    <div class="row pb-10">
      <div class="col-lg-11">
        <p>
          UKHSA can provide your organisation with access to world-leading
          expertise in research and development across a broad range of
          activities that prevent and reduce of the effect of diseases and
          chemical and radiation hazards.
        </p>

        <p>
          Please contact our Business Development Team
          <a class="bold-link" href="mailto:Business@ukhsa.gov.uk"target="_blank"
            >Business@ukhsa.gov.uk</a
          >
          who have in depth knowledge of our organisation’s research activities
          and will be able to direct your enquiry to the appropriate experts.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h4 class="h5">Research collaborations and partnership</h4>
        <p>
          We work collaboratively with industry across a broad spectrum of
          research projects. Working with UKHSA will enable your organisation to
          access unique resources and capabilities and together gain access to
          funding.
        </p>
      </div>

      <div class="col-lg-6 pt-5 pt-lg-0">
        <h4 class="h5">Consultancy</h4>
        <p>
          Our consultancy services include access to world leading expertise
          and/or our comprehensive research facilities.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-6">
        <h4 class="h5">License our technology</h4>
        <p>
          Our intellectual property portfolio of patent families offers
          commercial licensing opportunities and is available on request.
        </p>
      </div>

      <div class="col-lg-6 pt-5 pt-lg-0">
        <h4 class="h5">Training and development</h4>
        <p>
          We offer accredited training across a broad range of scientific
          disciplines from High Containment laboratory training to Radiation
          Protection training to industry and healthcare sector organisations.
        </p>
      </div>

      <div class="col-lg-12 text-center pt-10">
        <a class="button button--alt button--arrow" href="/opportunities/"
          >Explore opportunities</a
        >
      </div>
    </div>
  </div>
</section>

{{ end }}
