{{ define "main" }}

<div class="page-title">
    <div class="container">
        <h1>What we do</h1>
        <div class="row">
            <div class="col-md-5 pb-10">
                <p>We use science, research & innovation to identify and control health hazards, answer key questions to
                    inform policy and practice and implement solutions to public health challenges.</p>
            </div>
        </div>
    </div>
</div>

<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 d-flex flex-column justify-content-center">
                <h2 class="h3 red">Public Health Transformation</h2>
                <p class="m-0">Public Health England’s overarching research remit, strategy and portal (providing access
                    to staff details and publications) relate to all areas of activity within its scope. The period of
                    transition to the UK Health Security Agency (UKHSA) will see a gradual focussing onto health
                    protection research activities.</p>
            </div>
        </div>
    </div>
</div>

<section class="pt-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-2">
                <img src="/images/research-strategy.jpg" alt="People attending a Public Health England presentation.">
            </div>
            <div class="col-lg-6 pb-8 pb-lg-0 order-1 order-lg-2">
                <h3 class="h2">Research strategy</h3>
                <p>Our Research Strategy outlines how PHE uses research, translation and innovation to support the
                    transformation of public health practice and services.</p>

                <p>This strategy outlines PHE plans, actions and measures of success for research on public and
                    population health and health protection. It outlines our commitment to working in partnership with
                    academics, research funders, the NHS and the public.</p>

                <p>We foster, encourage and enable research to address priority questions for public health, align
                    research capacity to priorities and support the translation of findings into innovations in
                    practices and services.</p>

                <a class="button button--alt button--external mt-5" href="https://www.gov.uk/government/publications/doing-supporting-and-using-public-health-research-phe-strategy" target="_blank">Read our research strategy</a>
            </div>
        </div>
    </div>
</section>

<section class="pt-13 pb-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="h2 mb-5">Strategic priorities</h3>
                <ol class="num-list">
                    <li>Generate new knowledge to improve and protect health</li>
                    <li>Build, share and sustain high-quality infrastructure to enable research by PHE and others</li>
                    <li>Support development of public health research capacity in PHE and elsewhere and inspire public
                        health research careers</li>
                    <li>Accelerate translation of research into policy and practice in public health and commercial
                        products</li>
                    <li>Communicate widely and openly about how research is contributing to improving and protecting
                        health and wellbeing and reducing health inequalities</li>
                </ol>
            </div>
            <div class="col-lg-6 text-start text-lg-end pt-8 pt-lg-2">
                <img src="/images/strategic-priorities.jpg" alt="Crowd attending a PHE presentation.">
            </div>
        </div>
    </div>
</section>

<div class="cta pt-9">
    <div class="container">
        <h3 class="red">Public Health England's research annual review</h3>
        <div class="row">
            <div class="col-lg-7">
                <p class="m-0">The Public Health England (PHE) research annual review includes information about
                    strategy, funding and peer reviewed publications.</p>
                <a class="button button--alt button--external mt-4" href="https://www.gov.uk/government/publications/phe-research-annual-review" target="_blank">Read our annual reviews</a>
            </div>
        </div>
    </div>
</div>

{{ end }}