{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>What we do</h1>
    <div class="row">
      <div class="col-md-5 pb-12">
        <p>
          UK Health Security Agency (UKHSA) prevents, prepares for and responds
          to infectious diseases and environmental, radiological and chemical
          hazards, to keep all our communities safe, save lives and protect
          livelihoods.  We provide scientific and operational leadership,
          working with local, national and international partners to protect
          the public’s health and build the nation’s health security
          capability.  UKHSA is an executive agency, sponsored by the
          Department of Health and Social Care.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="cta pt-12">
  <div class="container">
    <h4 class="red h3">Science and Research</h4>
      <div class="row">
        <div class="col-lg-10">
         <p class="m-0">
          Science and research are at the core of our mission to protect health
          from infectious disease and environmental hazards. To succeed at
          tackling the major challenges that we face including new and emerging
          infections of high consequence or pandemic potential, climate change,
          air pollution and antibiotic resistance, we need to strengthen our
          scientific capabilities and the impact from our scientific work.
        </p>

        <a class="button button--alt button--external mt-4"
         href="https://researchportal.ukhsa.gov.uk/en/impacts/"
         target="_blank"
         rel="noopener"
         >Read UKHSA's Impact Case Studies</a
        >
      </div>
    </div>
  </div>
</div>

<section class="pt-9">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1 mt-2">
        <img
          src="/images/UKHSA-Conference-Panel-2022.jpeg"
          alt="UKHSA Conference 2022."
        />
      </div>
      <div class="col-lg-6 pb-8 pb-lg-0 order-1 order-lg-2">
        <h4 class="red h3">Science Strategy</h4>
        <p>
          The UK Health Security Agency (UKHSA) 10-year Science Strategy
          outlines the scientific assets, capabilities and ambitions of UKHSA,
          and our plan to protect the nation’s health from current and future
          health threats.
        </p>

        <p>
          The Science Strategy shares our vision of how, through science, we
          will secure health and prosperity. It describes how we can develop
          our current scientific disciplines and infrastructures to meet the
          current and future health threats both nationally and globally.
        </p>

        <p>
          UKHSA protects our communities from infectious diseases and the
          impact of chemical, radiological and other environmental health
          hazards. Our work depends on generating and applying the best
          scientific evidence.
        </p>

        <a
          class="button button--alt button--external mt-5"
          href="https://www.gov.uk/government/publications/ukhsa-science-strategy-2023-to-2033-securing-health-and-prosperity"
          target="_blank"
          rel="noopener"
          >Read UKHSA's Science Strategy</a
        >
      </div>
    </div>
  </div>
</section>

<section class="pt-13 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="red h3">Science Strategy Ambitions</h4>
        <p>
          Through investment in scientific workforce and deeper partnerships
          with industry and academia, the strategy sets out UKHSA’s ambitions
          to:
        </p>
        <br>

        <ol class="num-list">
          <li>
            Predict and anticipate health threats, through investing in
            genomics, data science and surveillance, including disease vector
            (such as mosquitoes and ticks) surveillance.
          </li>
          <li>
            Create a more secure environment, by enhancing our understanding of
            the threats in the environment and building scientific defences
            against these hazards.
          </li>
          <li>
            Reduce and eliminate health threats, by strengthening the
            scientific evidence underpinning health protection programmes – at
            home and abroad.
          </li>
          <li>
            Act on the scientific evidence, translating data, knowledge and insights into practical actions.
          </li>
          <li>
            Unlock the potential of scientific assets, and securing the legacy
            from the pandemic to increase the impact of our science on health
            and economic prosperity strengthening vaccine and diagnostic
            development and evaluation and data science.
          </li>
        </ol>
      </div>
      <div class="col-lg-6 text-start text-lg-end pt-8 pt-lg-2">
        <img
          src="/images/Colindale-2023-DSC05535.jpg"
          alt="Colindale laboratory staff."
        />
      </div>
    </div>
  </div>
</section>

<div class="cta pt-9">
  <div class="container">
    <h4 class="red h3">UK Health Security Agency Science 2024 Review</h4>
    <div class="row">
      <div class="col-lg-7">
        <p class="m-0">
          In 2025 UKHSA published their first science review, which summarises
          progress with the implementation of the strategy and considers the
          impact of our science.
        </p>
        <a
          class="button button--alt button--external mt-4"
          href="https://assets.publishing.service.gov.uk/media/677b8e0396026fd694d92c60/Science_review_2024.pdf"
          target="_blank"
          rel="noopener"
          >Read our Science Review</a
        >
      </div>
    </div>
  </div>
</div>

{{ end }}
