{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>What we do</h1>
    <div class="row">
      <div class="col-md-5 pb-10">
        <p>
          Science and research are at the core of our mission to protect health
          from infectious disease and environmental hazards. To succeed at
          tackling the major challenges that we face including new and emerging
          infections of high consequence or pandemic potential, climate change,
          air pollution and antibiotic resistance, we need to strengthen our
          scientific capabilities and the impact from our scientific work.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 d-flex flex-column justify-content-center">
        <h2 class="h3 red">Public Health Transformation</h2>
        <p class="m-0">
          The overarching research remit, strategy and portal (providing access
          to staff details and publications) relate to all areas of activity
          within Public Health England as predecessor organisation. The period
          of transition to the UK Health Security Agency (UKHSA) will see a
          gradual focussing onto health protection research activities,
          including those from NHS Test and Trace.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="pt-9">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1 mt-2">
        <img
          src="/images/UKHSA-Conference-Panel-2022.jpeg"
          alt="UKHSA Conference 2022."
        />
      </div>
      <div class="col-lg-6 pb-8 pb-lg-0 order-1 order-lg-2">
        <h3 class="h2">Research strategy</h3>
        <p>
          Our scientific work will span the breadth of our mission. We will find
          solutions to public health problems and accelerate their
          implementation. We continually evolve adopting new methods and best
          practice from exploratory science (e.g. understanding mechanisms of
          resistance to antibiotics to inform the development of new
          antimicrobials) to research to develop and evaluate interventions and
          understand how to best implement control programmes.
        </p>

        <p>
          We will create the ecosystem for a thriving multidisciplinary
          community of scientists and analysts with access to facilities,
          resources, high quality data and technology to deliver the country’s
          strategic needs. We will attract and develop the scientific leaders
          and capabilities of the future.
        </p>

        <p>
          A new Science and Research Strategy for UKHSA is under development.
        </p>

        <a
          class="button button--alt button--external mt-5"
          href="https://www.gov.uk/government/publications/doing-supporting-and-using-public-health-research-phe-strategy"
          target="_blank"
          rel="noopener"
          >Read PHE's research strategy</a
        >
      </div>
    </div>
  </div>
</section>

<section class="pt-13 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="h2 mb-5">Our vision for Science and Research</h3>
        <ol class="num-list">
          <li>
            We will recognise and respond to emerging threats to public health
            through our generation and application of scientific evidence.
          </li>
          <li>
            We will bring together our multi-disciplinary scientific skills and
            expertise to tackle the major threats to public health.
          </li>
          <li>
            We will sustain and develop the nation’s current and future health
            protection scientific capacity and capability.
          </li>
          <li>
            We will catalyse the effectiveness of universities, industry and
            other partners nationally and globally to protect health from
            infectious diseases and the health effects from exposure to
            environmental hazards.
          </li>
          <li>
            We will make a unique contribution to the government’s aim for the
            UK to be a science superpower.
          </li>
        </ol>
      </div>
      <div class="col-lg-6 text-start text-lg-end pt-8 pt-lg-2">
        <img
          src="/images/Colindale-2023-DSC05535.jpg"
          alt="Colindale laboratory staff."
        />
      </div>
    </div>
  </div>
</section>

<div class="cta pt-9">
  <div class="container">
    <h4 class="red h3">UK Health Security Agency's research annual review</h4>
    <div class="row">
      <div class="col-lg-7">
        <p class="m-0">
          The UK Health Security Agency (UKHSA) research annual review will
          include information about strategy, funding, impact and peer reviewed
          publications.
        </p>
        <a
          class="button button--alt button--external mt-4"
          href="https://www.gov.uk/government/publications/phe-research-annual-review"
          target="_blank"
          rel="noopener"
          >Read PHE's annual reviews</a
        >
      </div>
    </div>
  </div>
</div>

{{ end }}
