.breadcrumbs {
    --bs-breadcrumb-divider: url('/svg/chevron-right.svg');
    font-size: 0.875em;
    a {
        color: $dark;
    }

    .active {
        color: $dark;
        font-weight: bold;
    }

    .breadcrumb-item {
        + .breadcrumb-item {
            padding-left: 15px;

            &:before {
                top: 1px;
                position: relative;
                padding-right: 15px;
            }
        }
    }
}