#site-header {
    height: 74px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;

    @include media-breakpoint-down(lg) {
        height: 64px;
    }

    @include media-breakpoint-down(md) {
        height: 50px;
    }

    .navbar {
        height: 100%;

        .container-fluid {
            background-color: #F8F9FA;
        }
    }

}