.link {
    display: inline-block;
    font-size: 0.875em;
    color: $dark;

    .icon {
        margin-left: 10px;
    }
}

.mail-link {
    color: $dark;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: $black;
}

a:hover {
    color: $teal;
}

.bold-link {
    color: $black;
    font-weight: bold;
}