.navbar-nav {
    @include media-breakpoint-down(lg) {
        padding-top: 1rem;
    }
    .nav-item {
        .nav-link {
            font-size: 0.875em;
            color: $dark;

            &.active {
                font-weight: bold;
            }
        }
    }
}


// Desktop styles
@include media-breakpoint-up(lg) {
    .navbar-nav {
        .nav-item {
            + .nav-item {
                margin-left: 40px;

                @media (max-width: 1310px) {
                    margin-left: 20px;
                }

                @include media-breakpoint-down(xl) {
                    margin-left: 5px;
                    // font-size: .9em;
                }
            }
        }
    }

    .container-fluid--nav {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.navbar-brand {
    @media (max-width: 1110px) {
        max-width: 150px;
    }

    @media (max-width: 991.98px) {
        max-width: 200px;
    }
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $red;
}