.spotlight {
    background-size: cover;
    background-position: center center;
    color: $white;
    position: relative;
    padding-top: 5.5rem;
    padding-bottom: 5rem;

    > .container, .spotlight__content {
        position: relative;
        z-index: 2;
    }

    &:before {
        content: '';
        background: rgb(1,1,1);
        background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0.7) 49%, rgba(0,0,0,0) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        @include media-breakpoint-down(lg) {
            background: rgba(1,1,1,0.7);
        }
    }
}